.bpo_background{
    background: url('../images/bpo.jpeg');
}
.ims_backgrounds{
    background: url('../images/ims.jpg');
    background-position: center;
    background-size: cover;

}
.soft_dev_background{
    background: url('../images/soft_dev.jpg');
    background-position: center;
    background-size: cover;

}
.cons_background{
    background: url('../images/cons.jpg');
    background-position: center;
    background-size: cover;

}
.card {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(0deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #c7ae6c 0%, #22252a 100% );
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 1rem;
    color: #fff;
    line-height: 1.4;
  }
  
  .card:hover .box-icon-modern-icon {
    scale: 0;
    transform: rotate(-45deg);
  }
  
  .learn_more {
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    background: none;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .learn_more::before {
    margin-left: auto;
  }
  
  .learn_more::after, .learn_more::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #22252a;
    display: block;
    transition: 0.5s;
  
  }
  
  .learn_more:hover::after, .learn_more:hover::before {
    width: 100%;
  }

  .tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px; 
    border-radius: 10px;
    border: 1px solid #c7ae6c;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    width: 300px;
    pointer-events: none;
    transition: all 0.3s;
    text-align: center;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    width: 100%;

    border: 1px solid#c7ae6c ;
  }

  .tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .learn_more:hover{
    color: #22252a;
  }
  .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
  }
  .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .layer span,
  .text {
    color: #c7ae6c;
    border-color: #c7ae6c;
  }
  
  .icon:hover.layer span {
    box-shadow: -1px 1px 3px #1da1f2;
  }
  .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon:hover .text {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
  }
  .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .layer span.fab {
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    fill: #1da1f2;
    background: #000;
  }
  .user {
    display: flex;
    gap: 10px;
    width: 100%;
  }
  .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #1da1f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/sir_leo.png');
    background-position: center;
    background-size: cover;
  }
  .name {
    font-size: 17px;
    font-weight: 700;
    color: #c7ae6c;
  
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
    width: 100%;
    text-align: center;
  }
  .about {
    color: #ccc;
    padding-top: 5px;
  }
  .t_cont{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card-flip {
    width: 230px;
    height: 180px;
    perspective: 1000px;
    margin:10px;
  }
  
  .card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  

  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-position: center;
    background-size: cover;
  }
  
  .card-front {
    color: #000;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 10px;
    font-size: 14px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotateY(0deg);
  }

  .card-back {
    background: rgb(80,87,98);
    background: linear-gradient(167deg, rgba(80,87,98,1) 0%, rgba(199,174,108,1) 35%, rgba(34,37,42,1) 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #22252a;
    border-radius: 10px;
    justify-content: center;
    font-size: 9px;
    transform: rotateY(180deg);
  }

  .out_img{
    width: 80%;
    height: 90vh;
    
  }
  
  .small-show{
    display: none;
  }
  .big-show{
    display: block;
  }
  

  @media(max-width:600px){
    .small-show{
      display: block;
    }
    .big-show{
      display: none;
    }
    
  }
  
  .linkedInDiv{
  position: absolute; 
  top:40;
  right: 20px; 
  z-index: 1000; 
  width: 40px; 
  height: 40px;
  font-size: 2rem;
  }