.bpo_background{
    background: url('../images/bpo.jpeg');
}
.ims_backgrounds{
    background: url('../images/ims.jpg');
    background-position: center;
    background-size: cover;

}
.soft_dev_background{
    background: url('../images/soft_dev.jpg');
    background-position: center;
    background-size: cover;

}
.cons_background{
    background: url('../images/cons.jpg');
    background-position: center;
    background-size: cover;

}
.card {
    position: relative;
    width: 100%;
    height: 400px;
    border-radius: 10px;
    display: flex;
    padding: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(0deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

  }

  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    background: linear-gradient(-45deg, #c7ae6c 0%, #22252a 100% );
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #fff;
    line-height: 1.4;
  }
  
  .card:hover .box-icon-modern-icon {
    scale: 0;
    transform: rotate(-45deg);
  }
  
  .learn_more {
    color: white;
    text-decoration: none;
    border: none;
    margin-top: 20px;
    background: none;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .learn_more::before {
    margin-left: auto;
  }
  
  .learn_more::after, .learn_more::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #22252a;
    display: block;
    transition: 0.5s;
  
  }
  
  .learn_more:hover::after, .learn_more:hover::before {
    width: 100%;
  }
